@media (max-width: 1120px) {
  .main-bg {
    padding-top: 2rem;
  }

  .main-container {
    gap: 2rem;
  }
}

@media (max-width: 900px) {
  .main-bg {
    background: var(--color-c11);
    box-shadow: inset 0 -60px var(--color-c00);
  }

  .main-container {
    gap: 2rem;
    grid-template-columns: 1fr;
  }

  .main-content {
    padding-bottom: 0;
  }

  .main-image img {
    height: 300px;
  }
}

@media (max-width: 845px) {
  .technology-bg {
    box-shadow: none;
  }

  .technology-container {
    grid-template-columns: 1fr;
  }

  .technology-content {
    padding: 3.75rem 0;
  }

  .technology-image {
    display: none;
  }

  .partners-list-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .partners-list-container li,
  .partners-list-container li:nth-child(n + 5) {
    border: none;
    border-bottom: 2px solid var(--color-c02);
  }

  .partners-list-container li:nth-child(odd) {
    border-right: 2px solid var(--color-c02);
  }

  .partners-list-container li:last-child,
  .partners-list-container li:nth-child(7) {
    border-bottom: none;
  }

  .insurance-container {
    grid-template-columns: 1fr;
    padding-bottom: 3.75rem;
    padding-top: 3.75rem;
  }

  .insurance-image {
    display: none;
  }
}

@media (max-width: 768px) {
  .header-container {
    gap: 1rem;
  }

  .header-menu {
    gap: 1.25rem;
  }

  .header-menu a {
    background-color: var(--color-c11);
    border-radius: var(--gap-size-004);
    padding: 0.75rem 1rem;
    transition: background-color 0.3s ease;
  }

  .header-menu a:hover {
    background-color: var(--color-c10);
  }

  .header-menu a::before {
    display: none;
  }

  .btn {
    padding: 0.75rem 1rem;
  }

  .bike-list-container {
    padding: 60px 0;
  }

  .bike-list {
    gap: 2rem;
  }

  .partners-list-container li {
    padding: 1.25rem;
  }

  .declaration-bg {
    grid-template-columns: 1fr;
    overflow: hidden;
    text-align: center;
  }

  .declaration-image img {
    max-height: 300px;
  }

  .declaration-content {
    justify-self: stretch;
    padding: 2.5rem 1.25rem;
  }

  .declaration-content blockquote {
    margin-left: auto;
    margin-right: auto;
  }

  .declaration-content blockquote::before {
    left: -20px;
  }

  .declaration-content blockquote::before,
  .declaration-content blockquote::after {
    font-size: 3.75rem;
  }

  footer .logo-container {
    display: none;
  }

  .footer-container {
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 575px) {
  .technology-list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 425px) {
  .header-menu {
    gap: 0.75rem;
  }

  .header-menu a {
    padding: 0.5rem 0.75rem;
  }

  .footer-container {
    grid-template-columns: 1fr;
  }
}
