.bikes-bg {
  background: var(--color-c00);
  width: 100%;
}

.bikes-container {
  display: grid;
  gap: 3.75rem;
  padding-bottom: 7.5rem;
  padding-top: 3.75rem;
}

.bikes-item {
  border-radius: 4px;
  overflow: hidden;
}

.bikes-item > a {
  align-items: center;
  display: grid;
  gap: 2.5rem;
  grid-template-columns: 1fr 1fr;
  padding: 2.5rem;
}

.bikes-item:nth-child(even) {
  background: var(--color-c11);
}

.bikes-item:nth-child(even) .bikes-item-content h2 {
  color: var(--color-c00);
}

.bikes-item-image {
  position: relative;
}

.bikes-item-image img {
  height: 100%;
  min-height: 320px;
  object-fit: cover;
  width: 100%;
}

.bikes-item-content h2 {
  margin-bottom: 0.5rem;
}

.bikes-item-content h2::before {
  background: var(--color-p1);
  content: '';
  display: block;
  height: 8px;
  margin-bottom: 0.5rem;
  width: 12px;
}

.bikes-item-content > span {
  display: block;
  margin-bottom: 1.5rem;
}

.bikes-item-content p {
  max-width: 50ch;
}

.bikes-item:nth-child(even) .bikes-item-content p,
.bikes-item:nth-child(even) .bikes-item-content > span {
  color: var(--color-c05);
}
