.partners {
  padding: 3.75rem 0;
}

.partners-container h2 {
  margin-bottom: 3.75rem;
}

.partners-list-container {
  align-items: center;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  margin: 0 auto;
}

.partners-list-container li {
  align-items: center;
  border-left: 2px solid var(--color-c02);
  box-sizing: border-box;
  display: flex;
  height: 100%;
  min-height: 100px;
  padding: 2rem;
  width: 100%;
}

.partners-list-container li:nth-child(n + 5) {
  border-top: 2px solid var(--color-c02);
}

.partners-list-container li:first-child,
.partners-list-container li:nth-child(5) {
  border-left: none;
}

.partners-list-container li img {
  margin: auto;
}
